@model IEnumerable<Hercor.Models.CategoryProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.slug)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.slug)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdCategoryProduct }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdCategoryProduct }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdCategoryProduct })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>